// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  background-color: transparent;
}

#icon {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.clear {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

a {
  size: 2em;
}

.navbar-brand{
  background-color: transparent;
  background: transparent;
  font-size: 2em;
  padding: 20px;
}

.listing {
  margin: 80px;
}

.product_name {
  color: black;
  padding: 20px;
}

.product {
}

.des {}

.price {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
}

.footer {
  background-color: black;
  color: white;
}
