// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  background-color: transparent;
}

#icon {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.jumbotron {
  background: url("http://www.hd-freewallpapers.com/latest-wallpapers/find-me-pictures-of-puppies-wallpaper.jpg") no-repeat center center fixed;
  background-size:100% auto;
  min-height: 450px;
}

a {
  size: 2em;
}

.navbar {
  margin: 45px;
}

.navbar-brand{
  background-color: transparent;
  background: transparent;
  font-size: 2.5em;
  border: soli gray;
}

.listing {
  margin: 80px;
}

.product_name {
  color: black;
  padding: 20px;
}

.product {
}

.name {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 3em;
  margin-left: 100px;
}
.price {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
}

.money {
  padding: 10px;
  margin: 10px;
  font-size: 2em;
}

.description {
  padding-top: 50px;
}

.footer {
  background-color: black;
  color: white;
}
