<div class="container">
    <p>Product list:</p>

    <% @product.each_slice(3) do |three_product| %>
    <div class="row">
        <% three_product.each do |product| %>
        <div class="col-md-3 col-xs-6">
            <div class="well">
                <a href="products/<%= product.id %>">
                    <%= product.name %>
                </a>
                <p><%= product.price %></p>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>
</div>
